body {
    font-family: "Anta", sans-serif;
    background-color: #00246B;
    color: #FCF6F5;
}

h1 {
    font-size: 3rem; 
    margin: 0;
}

h2 {
    font-size: 2rem; 
}

h3 {
    font-size: 1.8rem; 
}

h4 {
    font-size: 1.3rem; 
}

ul {
    font-size: 1.1rem; 
}

p {
    font-size: 1.1rem;
}

hr {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    border-top: 2px solid #FCF6F5;
}


/* Header Section */
.container {
    display: flex;
    align-items: center;
}

.image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 20px 90px 20px 30px;
}

.profile {
    display: flex;
    flex-direction: column;
}

.profile-details h1,
.profile-details h2,
.profile-details ul {
    margin: 0; 
}

.profile-container {
    padding: 0;
    margin-left: 20px;
}

/* About Me */
.about-section {
    line-height: 1.6; 
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
}

/* Work Experience */
.workex {
    line-height: 1.6; 
    margin-left: 20px;
    margin-right: 20px;
}

.wxdetails {
    display: flex;
    justify-content: space-evenly;
}

.details {
    border: 1px solid #FCF6F5; 
    border-radius: 30px;
    padding: 20px; 
    width: 26%;
}

.details:hover {
    transform: scale(1.05); 
}

/* Education */
.education {
    line-height: 1.6; 
    margin-left: 20px;
    margin-right: 20px;
}

.educontain {
    display: flex;
    justify-content: space-around;
}

.edudetails {
    border: 1px solid #FCF6F5; 
    border-radius: 30px;
    padding: 20px; 
    width: 25%;
}

.edudetails:hover {
    transform: scale(1.05); 
}

/* Skill */
.skill {
    margin-left: 20px;
    margin-right: 20px;
}

.skcontain {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skdetails {
    border: 1px solid #FCF6F5; 
    border-radius: 30px;
    padding: 20px;
    width: auto;
}

.skdetails:hover {
    transform: scale(1.05); 
}

/* Language */
.language {
    line-height: 1.6; 
    margin-left: 20px;
    margin-right: 20px;
}

.lgcontain {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.lgdetails {
    border: 1px solid #FCF6F5; 
    text-align: center;
    border-radius: 30px;
    padding: 20px;
    width: auto;
}

.lgdetails:hover {
    transform: scale(1.05); 
}

/* Contact */
.contactSec {
    line-height: 1.6; 
    margin-left: 20px;
    margin-right: 20px;
}

.contactContain {
    display: flex;
    justify-content: space-around;
}

.contact {
    display: flex;
    align-items: center;
    border: 1px solid #FCF6F5; 
    text-align: center;
    border-radius: 30px;
    padding: 20px;
    width: auto;
}

.contact:hover {
    transform: scale(1.05); 
}

.contact img {
    margin-right: 10px;
}


/* For screens smaller than 768px */
@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Stack elements vertically on small screens */
        align-items: center; /* Center elements horizontally */
    }
    
    .image {
        margin: 20px 0; /* Adjust margin for spacing */
    }

    .profile {
        margin-left: 20px;
    }
    
    .profile-details {
        text-align: center; /* Center text on small screens */
    }

    .contactContain,
    .lgcontain,
    .skcontain,
    .educontain,
    .wxdetails {
        flex-direction: column; /* Stack elements vertically on small screens */
        align-items: center;
        margin-bottom: 10px;
    }
    
    /* Adjust margins for sections */
    .about-section,
    .workex,
    .education,
    .skill,
    .language,
    .contactSec {
        margin-left: 30px; /* Adjust margin for spacing */
        margin-right: 30px;
    }
    
    /* Adjust width of detail sections */
    .details,
    .edudetails,
    .skdetails,
    .contact,
    .lgdetails {
        width: 90%; /* Take up full width on small screens */
        margin-bottom: 20px;
    }

    .skdetails {
        width: auto;
        display: flex; /* Set as flex container */
        align-items: center; /* Center items vertically */
        /* justify-content: center; */
    }

    .lgdetails {
        margin-bottom: 30px ;
        border-radius: 20px;
    }

    .contact {
        display: flex; 
        justify-content: center;
    }

}
